<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>APP</strong> CLEPSIDRA - SMARTIFNO
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable>
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">

  <h1>Hola {{ nombre_user }}!!</h1>

</ion-content>
